</p><%= "#{@studio.name} details:" %></p>
<p><%= "Studio Name: #{@studio.name}" %></p>
<p><%= "Studio Location: #{@studio.location}" %></p>
<p><%= "Studio Movies:" %></p>
<% @movies.each do |movie| %>
<p><%= "#{movie.title}" %></p>
<% end %>
<%= "Actors working for #{@studio.name}" %>
<% @actors.each do |actor| %>
<%= "Actor name: #{actor.name}" %>
<%= "Actor age: #{actor.age}" %>
<%= "Actor working: #{actor.working}" %>
<% end %>

